main {
  max-width: 1200px;
  margin: 0 auto;
}
.conteudo {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  max-width: 1200px;
  padding: 40px 20px;
}
.conteudo img {
  height: auto;
  max-width: 100%;
  display: block;
}
.part {
  align-self: center;
}
.part h1 {
  color: #1c1c1c;
  margin-bottom: 30px;
  line-height: 1.125;
  position: relative;
}
.part h1::before {
  content: "";
  display: block;
  background: url("../img/detalhe.svg") no-repeat;
  height: 130px;
  width: 130px;
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: -1;
}
.part h2 {
  color: #4f4f4f;
  font-size: 1.5rem;
}
@media (max-width: 1000px) {
  .part h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  .conteudo {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .part h1 {
    font-size: 2rem;
  }
  .part h1::before {
    width: 40px;
    height: 40px;
    left: 0px;
  }
}
@media (max-width: 450px) {
  .conteudo img {
    display: none;
  }
  .conteudo {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }
}
